<!DOCTYPE html>
<html >
<title>Apartment Shoper</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
.mySlides {display: none}
</style>
<body class="w3-content w3-border-left w3-border-right" id="body">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-light-grey w3-collapse w3-top" style="z-index:3;width:260px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-transparent w3-display-topright"></i>
    <h3>Search</h3>

    <hr>
    <form action="http://nyquistable.com/" method="POST">
      <p><label><i></i> Location</label></p>
      <input class="w3-input w3-border" type="text" placeholder="Zip Code" name="zip" required>
      <br>
      <p><button class="w3-button w3-block w3-green w3-left-align" type="submit"><i class="fa fa-search w3-margin-right"></i> Search</button></p>
    </form>
  </div>
  <div class="w3-bar-block">
    <a href="http://nyquistable.com/" class="w3-bar-item w3-button w3-padding-16"><i class="fa fa-building"></i> Apartments</a>
    <a href="http://nyquistable.com/users/login" class="w3-bar-item w3-button w3-padding-16" ><i class="login"><img src="http://nyquistable.com/photos/login.png" alt="Smiley face" height="15" width="15.02"></i> login</a>
    <a href="http://nyquistable.com/users/register" class="w3-bar-item w3-button w3-padding-16"><i class="login"><img src="http://nyquistable.com/photos/register.png" alt="Smiley face" height="18" width="18.02"></i> Register</a>
    <a href="http://nyquistable.com/users/me" class="w3-bar-item w3-button w3-padding-16"><i class="login"><img src="http://nyquistable.com/photos/me.png" alt="Smiley face" height="18" width="18.02"></i> me </a>
    <a href="http://nyquistable.com/world/" class="w3-bar-item w3-button w3-padding-16"><i class="login"><img src="http://nyquistable.com/photos/world.png" alt="Smiley face" height="18" width="18.02"></i> world </a>
    <!-- <a href="http://nyquistable.com/game" class="w3-bar-item w3-button w3-padding-16"><i class="login"><img src="http://nyquistable.com/photos/game.png" alt="Smiley face" height="18" width="18.02"></i> game </a> -->
  </div>
</nav>
<%-body %>

</body>
<script>

document.getElementById('body').style.height = window.innerHeight.toString() + "px";
// Script to open and close sidebar when on tablets and phones
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/bootstrap/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>


</html>
