<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <span class="w3-bar-item">User Page</span>
  <a href="javascript:void(0)" class="w3-right w3-bar-item w3-button" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>
  <div class="w3-main w3-white" style="margin-left:260px">
    <form form class="form-signin" method="POST" style="width:80%; margin:auto">
      <hr style="visibility: hidden">
      <div class="text-center mb-4">
        <img class="mb-4" src="/docs/4.2/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">User Page</h1>
        <p class="mt-5 mb-3 text-muted text-center"></p>

      </div>

        <a class="btn btn-lg btn-primary btn-block" href="http://nyquistable.com/users/newEntry">Add Apartment</a>
        <a class="btn btn-lg btn-primary btn-block" href="http://nyquistable.com/users/myApartments">My Apartments</a>

      <p class="mt-5 mb-3 text-muted text-center" >&copy; 2017-2018</p>

    </form>
  </div>
